:root {
    /* --primary: #FFC636; */
    --secondary: orange;
}


body {
    margin:0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    background: var(--secondary);
    font-family: 'Merriweather', serif;
}


h1 {
    color: rgb(19, 20, 19);
    text-shadow: 1px 1px px #437453;
    text-align: center;
    font-family: 'Fontdiner Swanky', cursive;
}

h2 {
    text-align: center;
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

#inputarea {
    text-align: center;
}

textarea {
    background-color: rgb(51, 61, 70);
    border-radius: 10px 10px 0 0;
    padding: 20px;
    width: 800px;
    height: 220px;
    outline: 0;
    color: white;
    resize: none;
    font-size: 1.3rem; 
}

.mainbtn {
    margin-top: 15px;
    padding: 10px 40px;
    border-radius: 20px;
    outline: 0;
    background: rgb(105, 238, 105);
    border: 2px solid black;
    font-size: 1rem;
}

.mainbtn:hover {
    background: lightgreen;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgb(51, 61, 70);
    color: rgb(248, 237, 202);
    padding: 5px;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(248, 237, 202);
}

a:hover {
    text-decoration: underline;
}


@media screen and (max-width: 860px ){
    textarea {
        width: 500PX;
        height: 200PX;
    }

}

@media screen and (max-width: 560px ){
    textarea {
        width: 370PX;
        height: 200PX;
    }

}

@media screen and (max-width: 420px ){
    textarea {
        width: 280PX;
        height: 120PX;
    }

}